@{
    ViewBag.Title = "eByggesøknad - elektronisk byggesøknad";
}

<h1>Elektronisk byggesøknad</h1>

<p>Dette er en prototype for innsending av elektronisk byggesøknad. Prosjektet er et samarbeid mellom <a href="http://www.dibk.no">Direktoratet for byggkvalitet</a>, <a href="http://www.ks.no/kommit">KommIT</a> og <a href="http://www.altinn.no">Altinn</a>.</p>
<p>Løsningen er utviklet av <a href="http://www.arkitektum.no">Arkitektum AS</a>.</p>


<h2>Logg på</h2>
<p>Du må logge på Altinn sitt testmiljø for å kunne sende inn et nabovarsel. </p>

<a href="https://tt02.altinn.basefarm.net/Pages/ExternalAuthentication/Redirect.aspx?returnUrl=https://ebygg.arkitektum.no/Nabovarsel" class="btn btn-primary">Logg på med ID-porten - Altinn testmiljø TT02</a>
